.celda{
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    border: 1px solid black;
}

#tablero{
width: 306px;
height: 306px;
display: flex;
flex-wrap: wrap;
background-color:green
}
#body{
    margin:0;
    display: flex;
   /* align-items: center;*/
    justify-content: space-around;
}
h1{
    text-align: center;
}
#Ordenar{
    display: flex;
    justify-content: space-around;
}
#x{
    font-size:20px;
    text-align: center;
    height: 100px;
    width: 100px;
}
#o{
    font-size:20px;
    text-align: center;
    height: 100px;
    width: 100px;
}